*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
 display: flex;
 flex-direction: column;
}
/* -------------------Header-Section----------------------- */
#HeaderSection{
    background: url(image/living-room-275837_1280.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.title{
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 20%;
    
}
.title h1{
    font-size: 50px;
    font-style:initial;
  
}
.title span{
    color: #E9912D;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    position: fixed;
    /* border: 2px solid black; */
    padding: 10px;
    margin: 20px 20px ;
    border-radius: 10px;
    height: 6vh;
    width: 95%;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.middle ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.middle li {
    margin-right: 20px;
}

.middle a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.middle a:hover, .middle a.active{
    cursor: pointer;
    color: #416A5A;
}
.right {
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 15%;
    height: 6vh;
}

.box1 {
    /* border: 2px solid black; */
    background-color: #efefefbb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;

}
.box1 i{
    font-size: 15px;
}
.box2 {
    /* border: 2px solid black; */
    background-color: #efefefbb;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    border-radius: 25%;
    padding: 5px;
    

}
.box2 img{
    width: 100%;
    height: 3vh;
    border-radius: 100%;
    background-size: cover;
    mix-blend-mode: multiply;

}
.box1 i{
    font-size: 20px;
}

/* -------------------Section-1----------------------- */

#section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.s1-container{
    width: 15%;
    height: 35vh;
    margin: 30px;
    position: relative;
    flex-basis: calc(33% - 60px);

}
.D-box{
    border: 2px solid green;
    border-top-right-radius: 25%;
    height: 34.5vh;
    width: 63%;
    background: #416A5A;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
}
.D-box h4{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.D-box p{
    color: #f6fc3d;
    font-size: 10px;
}

.U-box {
    width: 90%;
    height: 80%;
    top: 76px;
    left: 55px;
    position: relative;
}
.U-box img {
    /* background-image: url("image/chair-1.jpg"); */
    border-top-left-radius: 30%;
    width: 95%;
    height: 100%;
    background-size: contain; /* Updated background-size property */
    background-repeat: no-repeat; /* Prevent image repetition */
    position: relative;
}

.img-chair a {
    position: absolute;
    bottom: 10px;
    right: 50px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background: #416A5A;
    border-radius: 10px;
    padding: 5px 10px;
}

.img-chair i {
    margin-left: 5px;
}

/* -------------------Service-Section----------------------- */
#Service-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    flex-wrap: wrap;

}
.item{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-around;
    align-items: center;
    width: 23%;
    height: 15avh;
}
.item.warranty{
    width: 10%;
    height: auto;;
}
.item-notes h4{
    font-size: larger;
    font-weight: bold;
}
.item-notes p{
    font-size: 15px;
}
/* -------------------Section-2----------------------- */

#section2 {
    background-color: #FFEED4;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.s2-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 35px 30px;
    /* flex-direction: column; */
    position: relative; /* Add relative positioning */
}

.sofa {
    width: 41%;
    background-color: #FFE0B4;
    display: flex;
    border-top-left-radius: 426%;
    border-bottom-left-radius: 434%;
    border-top-right-radius: 398%;
    border-bottom-right-radius: 519%;
    left: 74px;
    padding: 45px;
    position: relative; 
    /* Add relative positioning */
}

.sofa img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: multiply;

}

.sofa-time {
    position: absolute; /* Use absolute positioning */
    top: 0; /* Position at the top */
    right: 0; /* Position on the right */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    /* height: ; */
    text-justify: auto;
    /* background-color: rgba(255, 255, 255, 0.8); Add background color with transparency */
    padding: 15px;
    z-index: 0; /* Bring to front */
}

.sofa-time h1 {
    font-size: 5vw;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.sofa-time  span {
    color: #E9912D;
    /* font-size: 5vw; */
}

.sofa-time h3 {
    color: black;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 5px;
}
#line-box {
    display: inline-block;
    width: 0.3em; /* Set width to match letter height */
    height: 0.8em; /* Set height to match letter height */
    background-color:#E9912D;
    margin-top: -0.3em; /* Adjust margin to align the box correctly */
    margin-left: 5px; /* Add a small margin for spacing */
}

.s2-btn {
    background: transparent;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 20%;
    height: auto;
    position: absolute; /* Add absolute positioning */
    bottom: -25px; /* Position at the bottom */
    right: 10px; /* Position on the right */
    z-index: 0;
}
/* --------------------------------------Happy Clients------------------------------------- */

#Happy-Clients {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
#Happy-Clients h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: xx-large;
}

.all-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top of each row */
}

.S3-container {
    width: 23%;
    background-color: #FFE0B4;
    border-radius: 20px;
    margin: 12px;
    padding: 15px 15px;
    height: 15vh;
    box-sizing: border-box;
}


.s3-img {
    width: 55%;
    min-height: 2vh;
    position: relative;
}

#img1 img {
    width: 45%;
    height: 10vh;
    position: absolute;
}

#img2 img {
    width: 25%;
    height: auto;
    background-size: cover;
    mix-blend-mode: normal;
    position: absolute;
    left: 15px;
    top: 395%;
    border-radius: 50%;
}
.s3-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 35%;
    margin: -10px;
    gap: 5px;
}
.s3-txt h4 {
    /* font-size:large; */
    font-weight: bold;
}
.s3-txt p {
    font-size: 10px;
    color: rgb(54, 53, 53);
}

/* ----------------------------------------ShopByRoom-----------------------------------------  */

#ShopByRooms{
    width: 100%;
    height: auto;
    background-color: #416A5A;
}


.Heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 30px;
}
.Heading h1{
    font-size: 40px;
    font-weight: bold;
}
.Heading h1 span{
    color: #E9912D;
}

.all-room-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; /* Spread items across the available space */
}

.room-container {
    width: calc(25.33% - 23px);
    height: 40vh;
    margin: 10px;
    position: relative;
}


.Upper-box {
    width: 100%;
    height: 70%;
    position: relative;
    z-index: 1;
}

.Upper-box img {
    border-top-left-radius: 30%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 90%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.down-box {
    border-radius: 5%;
    height: 29vh;
    width: 88%;
    background: #ffffff;
    top: 10%;
    left: 19px;
    padding: 10px;
    position: absolute;
    z-index: 0;
}

.down-box h2 {
    right: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #284137;
    margin-top: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
   font-weight: bold;  
}

.room-product p {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    color: white;
    background: rgba(233, 145, 45);
    border-top-left-radius: 10px;
    padding: 5px 10px;
    z-index: 2;
  
}

/* -------------------------------------Section-3-------------------------------- */

#section3 {
    background-color: #FFEED4;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.s3-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 60px 35px;
    /* flex-direction: column; */
    position: relative; /* Add relative positioning */
}

.siting-sofa {
    width: 41%;
    background-color: #FFE0B4;
    display: flex;
    border-top-left-radius: 426%;
    border-bottom-left-radius: 434%;
    border-top-right-radius: 398%;
    border-bottom-right-radius: 519%;
    left: 74px;
    padding: 45px;
    position: relative; /* Add relative positioning */
}

.siting-sofa img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: multiply;
}

.sitting-sofa-time {
    position: absolute; /* Use absolute positioning */
    top: 0; /* Position at the top */
    right: 0; /* Position on the right */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap:wrap;
    width: 37%;
    padding: 15px;
    z-index: 0; /* Bring to front */
}

.sitting-sofa-time h1 {
    font-size: 3vw;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.sitting-sofa-time  span {
    color: #E9912D;
    /* font-size: 5vw; */
}

#line-box {
    display: inline-block;
    width: 0.3em; /* Set width to match letter height */
    height: 0.8em; /* Set height to match letter height */
    background-color:#E9912D;
    margin-top: -0.3em; /* Adjust margin to align the box correctly */
    margin-left: 5px; /* Add a small margin for spacing */
}

.s2-btn {
    background: transparent;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 20%;
    height: auto;
    position: absolute; /* Add absolute positioning */
    bottom: -25px; /* Position at the bottom */
    right: 10px; /* Position on the right */
    z-index: 0;
}

.sitting-chair {
        width: 35%;
        /* border: 2px solid blue; */
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        right: 20px;
        padding: 10px;
        margin: 15px;
        /* height: 20vh; */
        position: absolute;
        overflow: visible;
}

.chair-1 {
    width: 10%;
    /* border: 2px solid blue; */
    background-color: #ffe0b4bb;
    display: flex;
    border-top-left-radius: 385%;
    border-bottom-left-radius: 403%;
    border-top-right-radius: 361%;
    border-bottom-right-radius: 505%;
    left: 0px;
    padding: 50px;
    position: relative;
    overflow: visible;
}

.chair-1 img {
    width: 60%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -35px;
    right: 30px;
}
/* ------------------------------------------------Navigation------------------------------------------------ */

#Navigation {
  
    width: 100%;
    
    display: flex;
    height: 60vh;
    /* align-items; */
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-image: url("image/MAP.png");
}
.Navigation-box {
    border-radius: 5px;
    background: white;
    position: relative;
    box-shadow: 0px 0px 4px;
    width: 21%;
    height: 5vh;
    padding: 10px;
   top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navigation-logo {
    width: 25%;
    height: 7vh;
    border-radius: 100%;
    display: flex;
    background-color: #416A5A;
    position: relative;
    align-items: center;
    justify-content: center;
   
}
.Navigation-logo img {
    width: 30%;
    height: auto;
    position: relative;
}
.Navigation-text{
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
}

/* -------------------------------Details---------------- */
#Details{
    width: 100%;
    height: 60vh;
    background-color: #416A5A;
}
.details-container{
    justify-content: space-between;
    display: flex;
    margin: 20px;
}
.details-left{
    width: 35%;
    margin-top: 10%;
}

.d-logo{
    width: 30%;
    height: 10vh;;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;

}

.d-left {
    display: flex;
    align-items: center;
}

.about-us{
    margin-top: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.about-us p{
    font-size: small;
}

.socle img{
    width: 8%;
    margin-top: 20px;
}

.details-right{
    display: flex;
    justify-content: space-between; 
    width: 60%;
    margin-top: 10%;
    margin-right: 5%;

}
.d-text{
    color: white;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
} 
.icon-name {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.icon-name2  p{
    display: flex;
    gap: 10px;
    
}
.icon-name2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
}
/* -----------------------------Footer----------------------------- */

footer{
    background-color: #284137;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
}
.copyWrite{
    margin: 3%;
    color: white;
}
.policy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    margin-right: 5%;
}